@font-face {
  font-family: 'latoblack';
  src: url('../fonts/lato-black.woff2') format('woff2'),
       url('../fonts/lato-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: 'latoblack';
  
  }


  /* Make content area fill the entire browser window */
  html,
  .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  /* Center the content in the browser window */
  .container {
    margin: auto;
    text-align: center;
    background-image: url("../images/testImg.png");
  }
  
  .title {
    font-size: 3rem;
  }